table, td, th {
  border: 1px solid black;
  border-collapse: collapse;
  border-spacing: 5px;
  margin: auto;
  margin-top: 50px;
}

td {
  padding: 15px;
}

.square {
  width: 100px;
  height: 100px;
  font-size: 75px;
  border: none;
  background-color: white;
}

.gameTitle {
    text-align: center;
}
